@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Styles */

/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7fafc; /* Tailwind's gray-100 */
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
}



/* Utility Classes */
.table-responsive {
    overflow-x: auto;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Custom Table Styles */
.table-auto {
    width: 100%;
}

.table th,
.table td {
    border: 1px solid #e2e8f0; /* Tailwind's gray-300 */
    padding: 0.5rem;
}

.table th {
    background-color: #edf2f7; 
}


/* Global CSS for the table container */
.holdings-container {
    width: 100%;
    overflow-x: auto; /* Allows horizontal scrolling */
  }
  
  /* Ensure table content doesn't overflow in small screens */
/* styles.css */

